.footer {
    padding: 10px 10px;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .footer .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .footer .redes-sociais a {
    text-decoration: none;
    display: inline-block;
  }
  
  .footer .redes-sociais img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }
  
  .footer .redes-sociais img:hover {
    transform: scale(1.1);
  }
  .footer .redes-sociais .github-icon img {
    filter: invert(1);
  }
  
  .footer h2:last-of-type {
    font-size: 16px;
    margin-top: 20px;
  }
  